[model]
name = mobilenet1.0
source = mxnet
dtype = float32

[data]
url = https://github.com/dmlc/mxnet.js/blob/master/data/cat.png?raw=true
file = cat.png

[truth]
url = https://gist.githubusercontent.com/zhreshold/4d0b62f3d01426887599d4f7ede23ee5/raw/596b27d23537e5a1b5751d2b0481ef172f58b539/imagenet1000_clsid_to_human.txt
file = imagenet1000_clsid_to_human.txt
category = tiger cat

[device]
ip = localhost
port = 9191
key = ryzen
target = vulkan
os = linux
compiler = llvm -target=x86_64-linux-gnu

[compare]
# compare performance of different schedules, one schedule per line
# to use default schedule, write a line with no assignment
log1 =
log2 = ./logs_256/mobilenet_vulkan.log

[run]
repeat = 30
output = verify_result.txt